body {
    margin: 0;
    padding: 0;
}

#forExport {
    font-family: 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-print-color-adjust: exact;
    width: 210mm;
    height: 210mm;
    display: grid;
    grid-template-rows: 10% 1fr 10%;
    grid-template-columns: repeat(3, 1fr);
    padding: 5mm;
    position: absolute;
    overflow: hidden;
    margin: 0;
}

#map {
    overflow: hidden;
    grid-column: 1 /span 3;
    grid-row: 2 / span 2;
    justify-self: stretch;
    align-self: stretch;

}

#map>svg {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.textInput {
    appearance: none;
    outline: none;
    border: none;
    margin-left: 1rem;
    background: transparent;
}

#title {
    grid-column: 1 /span 3;
    grid-row: 1 /span 1;
    margin: 0;
    line-height: 125%;
    font-weight: 700;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;

}

#legend {
    grid-column: 1 /span 2;
    grid-row: 2 /span 1;
}

.legendItem {
    display: flex;
    flex-direction: row;


}

.legendItem>div {
    width: 8mm;
    height: 5mm;
    border-radius: 1mm;
    margin: 0.2rem;

}

#source {
    grid-column: 2 /span 2;
    grid-row: 3 /span 1;
    align-self: end;
    justify-self: end;
    display: flex;
    align-items: center;
}

p {
    color:rgb(128,128,128);
    font-size: 0.8rem;
    margin: 0;
}

#source-select{
    appearance: none;
    border: none;
    margin: none;
    background-color: transparent;
    color:rgb(128,128,128);
    font-size: 0.8rem;
    font-weight: 700;
    margin: 0px 10px 0px 5px;
    height: 18px;
}

#source-select option{
    height: 18px;
    color:rgb(128,128,128);
}